/*[fmt]AA90-1A0B-1*/
/*rubbish -->*/
TABLE.tab, TABLE.tab TD
{
	/*[disabled]border:1px solid #A7A3A0;*/
	/*[disabled]margin:5px;*/
	/*[disabled]border-collapse:collapse;*/
	/*[disabled]border-spacing:5px;*/
}

TR.row TD
{
	/*[disabled]background-color:#FFFFFF;*/
	/*[disabled]padding:4px;*/
	/*[disabled]text-align:right;*/
	/*[disabled]font-size:10pt;*/
}

TR.titl TD, TR.titl2 TD
{
	/*[disabled]background-color:#E9E5E2;*/
	/*[disabled]background-image:url(yama_images/button_back1.jpg);*/
	/*[disabled]padding:4px;*/
	/*[disabled]text-align:center;*/
	/*[disabled]font-weight:bold;*/
	/*[disabled]font-size:10pt;*/
	/*[disabled]color:#FFFFFF;*/
}

TR.titl2 TD
{
	/*[disabled]background-image:url(yama_images/button_back2.jpg);*/
	/*[disabled]font-weight:normal;*/
	/*[disabled]padding:2px;*/
	/*[disabled]color:#444444;*/
}

TD.vth
{
	/*[disabled]background-color:#E9E5E2;*/
	/*[disabled]padding:5px;*/
	/*[disabled]text-align:right;*/
	/*[disabled]font-size:10pt;*/
	/*[disabled]color:#000000;*/
}

TD.vtb, TD.vtb2
{
	/*[disabled]padding:3px;*/
	/*[disabled]text-align:left;*/
	/*[disabled]font-size:10pt;*/
}

TD.vtb2
{
	/*[disabled]text-align:center;*/
	/*[disabled]font-weight:bold;*/
	/*[disabled]background:#C9C5C2;*/
}

#footer
{
	/*[disabled]font-family:Arial, Helvetica, sans-serif;*/
	/*[disabled]font-size:x-small;*/
	/*[disabled]color:#666666;*/
	/*[disabled]background-image:url(yama_images/footer_back.jpg);*/
	/*[disabled]padding:0px;*/
	/*[disabled]margin:0px;*/
	/*[disabled]font-weight:bold;*/
	/*[disabled]height:20px;*/
}

#raceInfo
{
	/*[disabled]float:right;*/
}

#raceInfo TR > TD:first-child
{
	/*[disabled]background-color:#C8F8F8;*/
}

#raceInfo TR > TD:first-child + TD
{
	/*[disabled]background-color:#DDE100;*/
}

#raceInfo TR > TD:first-child + TD + TD > IMG
{
	/*[disabled]background-color:#FB0DFF;*/
}

/*
a:link{
background-color:blue;
}
a:visited{
background-color:blue;
}
a:hover{
background-color:orange;
}
a:focus{
background-color:green;
}
a:active{
background-color:red;
}*/
NAV#mainMenu, NAV#mainMenu A
{
	/*[disabled]text-align:center;*/
	/*[disabled]cursor:pointer;*/
	/*[disabled]font-size:small;*/
	/*[disabled]font-weight:bold;*/
	/*[disabled]font-family:sans-serif;*/
	/*[disabled]background-color:#EEEEEE;*/
}

NAV#mainMenu A:hover
{
	/*[disabled]background-color:#C0FA30;*/
}

NAV#mainMenu A:active
{
	/*[disabled]background-color:#93D1E6;*/
}

BUTTON
{
	/*[disabled]text-align:center;*/
	/*[disabled]cursor:pointer;*/
	/*[disabled]font-size:small;*/
	/*[disabled]font-weight:bold;*/
	/*[disabled]font-family:sans-serif;*/
	/*[disabled]background-color:#EEEEEE;*/
}

.buttonHover
{
	/*[disabled]background-color:#C0FA30;*/
}

.active
{
	/*[disabled]background-color:#93D1E6;*/
}

/* <-- rubbish */


/* apply a natural box layout model to all elements */
.border-box, .border-box::before, .border-box::after
{
	/* might need content="" for before and after*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* *
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} */

BODY
{
	font-family: sans-serif;
	background-color: #444;
	margin: 0px;
/*line-height: 1;*/
}

.templateError
{
	font-weight: bold;
	color: #000;
	background-color: #F44;
}

.fullWidth
{
	width: 100%;
}

.lblPercentage
{
	text-align: center;
}

DIV.center
{
	text-align: center;
}

H1
{
	font-family: Impact, fantasy;
	font-size: xx-large;
	font-style: italic;
	font-weight: bold;
	white-space: nowrap;
	padding-left: 8px;
	padding-right: 12px;
}

H2
{
	font-family: sans-serif;
	font-size: x-large;
	font-style: italic;
	white-space: nowrap;
}

H6
{
	font-size: x-small;
	white-space: nowrap;
}

/* Navigation menu */
NAV#mainMenu
{
  background: #607;
}

NAV#mainMenu UL
{
	padding: 0;
	margin: 0 auto;
	line-height: 1;
	display: table;
	text-align: center;
	list-style-type: none;
  background-color: #33F;
}

NAV#mainMenu LI
{
	display: table-cell;
	vertical-align: middle;
	background-color: #607;
	z-index: 0;
	/* overflow: hidden; */
	white-space: nowrap;
}

NAV#mainMenu LI.singleLine
{
  line-height: 2;
}

A
{
	color: #000;
	text-decoration: none;
}

A:hover
{
	background-color: #226;
	position: relative;
	z-index: 1;
	
	/* box-shadow: 0px 10px 20px 0px rgba(255,255,0,0.6);
	text-shadow: 2px 2px 0px rgba(0,0,0,0.6); */
}

A:focus
{
	outline: none;
	background-color: rgba(255,255,255,0.2) !important;
	xbackground-color: rgba(0,0,0,0.2) !important;
	
	xborder-color: rgba(255,255,255,0.2) !important;
	xborder-color: rgba(0,0,0,0.2) !important;
	/* border-color: transparent !important; */
}

/* A:hover::before
{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	xright: 0px;
	xbottom: 0px;
	z-index: -1;
	
	border-bottom: 8px solid #000;
	
	background: #E44;
	
	
	x-webkit-transform: skew(-20deg);
	x-moz-transform: skew(-20deg);
	x-o-transform: skew(-20deg);
} */

NAV#mainMenu A
{
	padding: 0.5ex 0.8ex;
	/* margin: 0 1ex; */
	display: block;
	font-weight: bold;
	color: #FFF;
	background: #607;
	border-top: 4px solid transparent;
	border-bottom: 4px solid #607;
}

NAV#mainMenu A:hover
{
	background-color: #909;
	color: #EE4;
	cursor: pointer;
	border-bottom: 4px solid #EE4;
}

NAV#mainMenu .active
{
	color: #EE4;
	border-bottom: 4px solid #EE4;
	
}

/* NAV#mainMenu .active:hover
{
	background-color: #FF0;
} */

.displayNone
{
	display: none;
}

TABLE
{
	border-collapse: collapse;
}

TABLE.center
{
	margin: 0 auto;
}

TD.center
{
	text-align: center;
}

TD.bold
{
	font-weight: bold;
}

TD.left
{
	text-align: left;
}

SPAN.Mouse::before
{
	content: "m";
}
SPAN.Keyboard::before
{
	content: "K";
}
SPAN.KeyboardStabilised::before
{
	content: "KS";
}
SPAN.Wheel::before
{
	content: "w";
}
SPAN.BrakeHelp::before, SPAN.AutoGearShift::before, SPAN.Shifter::before, SPAN.AxisClutch::before, SPAN.AutoClutch::before, SPAN.CustomView::before
{
	content: "x";
}

SPAN.LeftHandDrive::before
{
	content: "L";
}

SPAN.RightHandDrive::before
{
	content: "R";
}

/* FIX C# remove first </span> and add last </span> if any was added */
/* str = str.replace("^0", "</span><span class=\"black\">")
					.replace("^1", "</span><span class=\"red\">")
					.replace("^2", "</span><span class=\"green\">")
					.replace("^3", "</span><span class=\"yellow\">")
					.replace("^4", "</span><span class=\"blue\">")
					.replace("^5", "</span><span class=\"pink\">")
					.replace("^6", "</span><span class=\"turquoise\">")
					.replace("^7", "</span><span class=\"white\">")
					.replace("^8", "</span><span class=\"black\">")
					.replace("^9", "</span><span class=\"black\">"); */
/* LFS Code    LFS Color   ECMA Code   ECMA Color
^0          #000000     30          black foreground
^1          #FF0000     31          red foreground
^2          #00FF00     32          green foreground
^3          #FFFF00     33          brown foreground
^4          #0000FF     34          blue foreground
^5          #FF00FF     35          magenta (purple) foreground
^6          #00FFFF     36          cyan (light blue) foreground
^7          #FFFFFF     37          gray foreground
^8          <RESET>     0           all to default
^9          <RESET>     0           all to default */