body { 
	font-family: Arial, Helvetica, sans-serif;
	background-color: white; 
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body, td {
	
	color: black;
}

#header
{
	border-collapse: collapse;
	border-spacing: 0;
	padding: 5px;
	width: 100%;
}

#raceinfo
{
	xfloat: right;
	margin: 0 auto;
}

.under_button
{
	
	cursor: pointer;
}

.menu_button
{
	background-image: url(yama_images/button_back.jpg);
	text-align: center;
	margin-top: 0px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;	
	font-family: Georgia, Helvetica, sans-serif;

}

.hover_main
{
	background-image: url(yama_images/button_back_hover.jpg);
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
}

.active_main
{
	background-image: url(yama_images/button_back_active.jpg);
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
}

.menu_table
{
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	font-weight: bold;
}

img {
	border: 0px;
}

a {
	color: #222222;
	text-decoration: underline;
}

a:hover {
	color: #888866;
	text-decoration: underline;
}

h1 {
	margin: 5px;
	font-size: 20px;
	font-weight: bold;
}

table {
	border-collapse: collapse;
	empty-cells: show;
	spacing: 0px;
	padding: 0px;
	border-width: 1px;
}

table.tab, table.tab td {
	border: 1px solid #a7a3a0; 
	margin: 5px;
	spacing: 5px;
}

tr.row td {
	background-color: white;
	padding: 4px;
	text-align: right;
	font-size: 10pt;
}

tr.titl td, tr.titl2 td {
	background-color: #e9e5e2;
	background-image: url(yama_images/button_back1.jpg);
	padding: 4px;
	text-align: center;
	font-weight: bold;
	font-size: 10pt;
	color: #ffffff;
}

tr.titl2 td {
	background-image: url(yama_images/button_back2.jpg);
	font-weight: normal;
	padding: 2px;
	color: #444444;
}

td.vth {
	background-color: #e9e5e2;
	padding: 5px;
	text-align: right;
	font-size: 10pt;
	color: #000000;
}

td.vtb, td.vtb2 {
	padding: 3px;
	text-align: left;
	font-size: 10pt;
}

td.vtb2 {
	text-align: center;
	font-weight: bold;
	background: #c9c5c2;
}

#footer
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #666666;
	background-image: url(yama_images/footer_back.jpg);
	padding: 0px;
	margin: 0px;
	font-weight: bold;
	height: 20px;
}